body{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 1.5em;
}
nav li{
    list-style-type: none;
}
nav ul{
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    
    min-height: 10vh;
    align-items: center;
    background-color: rgb(236, 231, 224);
}
.back-image{
    background-image: url(../images/pizza-6478478_1280.jpg);
    min-height: 100vh;
    min-width: 90vw;
    background-repeat: no-repeat;
    
}
