@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 3.5rem;
}
nav{
    padding-right: 3rem;
}
.logo h3{
    padding-left: 0.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1.5em;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
}


header {
    display: flex;
    justify-content: space-between;

    min-height: 10vh;
    align-items: center;
    background-color: rgb(236, 231, 224);
    background-color: rgb(255, 222, 160);
}

.back-image {
    background-image: url(../images/pizza-6478478_1280.jpg);
    min-height: 100vh;
    min-width: 90vw;
    background-repeat: no-repeat;


}

.about-image {
    width: 90%;
    margin-left: 2rem;
    border-radius: 2rem;
    margin-top: 5rem;


}

.about {
    padding-top: 3rem;
}

.about-content {
    background-color: white;
}

.container {
    padding: 0;
}

.about-background {
    background-color: rgb(210, 228, 255);
    background-color: white;
}

.about h1 {
    text-align: center;
    margin-top: 6rem;

}

.about p {
    text-align: center;
    margin-right: 2rem;
    line-height: 2rem;

}
.order{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e1ffc3;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.order select{
    width: 15rem;
}
.num{
    width: 10rem;
}
.order p{
    margin-top: 2rem;
}
.order-btn{
    margin-top: 2rem;
}
.order h1{
    padding-top: 3rem;
}
header a{
    text-decoration: none;
    color: black;
}
.menu img{
    height: 200px;
    width: 250px;
}